body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

.nav-item {
    font-family: 'Alegreya Sans', sans-serif !important;
    font-size: 18px !important;
}

.navbar-nav {
    margin-left: 20px;
}

@media screen and (max-width: 700px) {
    .navbar {
      width: 100%;
      height: auto;
      position: relative;
}
    .navbar a {float: left;}
    div.content {margin-left: 0;}
}

main {
    padding: 20px;
}

main h1 {
    padding: 30px;
    text-align: center;
    background: white;
    font-family: 'Alegreya Sans', sans-serif !important;
}

.card h5 {
    font-family: 'Alegreya Sans', sans-serif !important;
}

p {
    font-family: 'Literata', serif !important;
    font-size: 16px;
}
  
.left-column {   
    float: left;
    width: 75%;
}

.card {
   background-color: white;
   padding: 25px;
   margin-top: 20px;
}

.left-column img {
    padding: 25px 0px 50px 0px;
}

.right-column img {
    padding: 10px 0px 15px 0px;
}

.card h3 {
    font-family: 'Alegreya Sans', sans-serif !important;
}

.card p {
    padding-bottom: 10px !important;
}

.card h4 {
        font-family: 'Alegreya Sans', sans-serif !important;
    padding-top: 20px;
    padding-bottom: 10px;
}

.right-column {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.bottomnav {
    padding: 20px;
    text-align: center;
    margin-top: 75%;
}

  .bottomnav {
    background: white;
    height:225px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blogfooter {
  display: flex !important;
  flex-direction: column !important;
}

.footer {
    margin-top: 25px !important;
    position: relative;
}

.footer h4, .footer-ask-k h4 {
    font-size: 22px;
    font-family: 'Bubblegum Sans', cursive !important;
}

.image-link {
    text-decoration: none;
}

.icons {
    padding-top: 15px;
}

.icons img {
    height: 20px;
    border: 0 none;
    margin: 5px 15px 15px 15px;
}

.info p {
    padding-top: 10px;
    justify-content: center;
    font-size: 12px;
    font-family: 'Literata', serif !important;
    color: black !important;
}
